[install]
is_configured = 0

[ui]
is_visible = 0
label = HEC Enablement App

[launcher]
author = {{ template_vars.organization | default('Ansible') }}
description = Enables HTTP Event Collector on Heavy Forwarders
version = 1.0.0